.topright {
    padding-right: 10px;
    position: absolute;
    font-size: 18px;
    top: 8px;
    right: 16px;
}

.navbar{
    padding-bottom: 10px;
    border-bottom: 10px;
    border-bottom-color: #ff0000;
}

.underRow{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 25px;
}
